$top-color: #C5A3D8;
$lovely-color:#E3E3E3;
$another-lovely-color:#070706;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lobster', monospace;
    background:$top-color;
}

h3{
    text-align: center;
    margin-bottom: 2.5rem;
    color: $another-lovely-color;
}
.container{
    width: 360px;
    height: 25rem;
    margin: 8% auto;
    background: $lovely-color;
    border-radius:5px;
    position: relative;
    overflow: hidden;
}

.container form{
    width: 17.5rem;
    position: absolute;
    top:6.25rem;
    left:2.5rem;
    transition: .5s;
}

form input{
    width: 100%;
    padding: 0.625rem 0.3125rem;
    margin: 0.3125rem 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

::placeholder{
    color:#999;
}

.btn-box{
    width: 100%;
    margin: 1.875rem auto;
    text-align: center;
}

form button{
    width: 6.875rem;
    height: 2.1875rem;
    margin: 0 0.625rem;
    background: linear-gradient(to right, hsl(278, 40%, 74%), hsl(253, 86%, 54%));
    border-radius: 1.875rem;
    border: 0;
    outline:none;
    color: $lovely-color;
    cursor:pointer;
}

#form2{
    left: 450px;
}

#form3{
    left: -450px;
}

.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

.step-col{
    width: 120px;
    text-align: center;
    color:#333;
    position: relative;
}

#progress{
    position: absolute;
    height: 100%;
    width: 120px;
    background:linear-gradient(to right, hsl(278, 40%, 74%), hsl(253, 86%, 54%));
    transition: 1s;
}
// PUNTA DE LA FLECHA (TRIANGULO)
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid  hsl(253, 86%, 54%);
}